# Virtual environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# IDE / editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Practice / learning files
practice/